ul {
  list-style-type: none;
  margin-top: 200px;
  padding: 0;
  text-align: center;
}
ul li {
  display: inline-block;
  height: 100px;
  margin: 0 3em 3em 0;
  position: relative;
  width: 300px;
  height: 300px;
}
ul li img {
  width: 270px;
  height: auto;
}
ul li:hover {
  opacity: 0.3;
}
#light_box {
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
#light_box .fa {
  color: #fff;
  opacity: 0.3;
}
#light_box_container {
  margin: 0 auto;
  margin-top: 80px;
  height: 420px;
  width: auto;
  position: relative;
}
#light_box_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#light_box_img img {
  width: 470px;
  height: 470px;
}
#close_btn {
  position: relative;
  top: -58px;
  left: 194px;
  font-size: 2em;
  s cursor: pointer;
  z-index: 10;
}
#left_btn {
  position: relative;
  top: 172px;
  left: -277px;
  font-size: 5em;
  cursor: pointer;
  z-index: 10;
}
#right_btn {
  position: relative;
  top: 172px;
  left: 277px;
  font-size: 5em;
  cursor: pointer;
  z-index: 10;
}
#light_box_text {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  opacity: 0.8;
  font-size: 1em;
  font-weight: 200;
  margin-top: 60px;
}
